a:hover {
    text-decoration: none;
}

body {
    background-image: url("/assets/images/bg-home.svg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

hr {
    border: 0.5px solid #1a50a8;
    margin: 5px -20px;
}